@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,100italic,300italic");
@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap");
html, body {
  /* width: 100%;
  height: 100%;
  background: url(../../images/ban1.png);
  font-family: 'Poppins', sans-serif;
  color: #222; */
  /* background-image: url('../images/rustcashLogo.jpg'); */
}
/* НАВБАР */
/* .navbar-brand img {width: 150px;}

.navbar-nav li{
  padding-right: 20px;
} */
.nav-link {font-size: 1.1em !important;}
.avatar{
	vertical-align: middle;
    border-style: none;
    margin-top: 20px;
    margin-left: 56px;
    margin-bottom: 20px;
}
.button {
    border: 2px solid #2e2e2e;
    cursor: pointer;
    letter-spacing: 0.2125rem;
    overflow: hidden;
	margin-top: 2px;
    border-radius: 0px 10px 20px 20px;
	background-color: #282828;
    padding: 20px 30px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transition: 
        background 5s cubic-bezier(0.19, 1, 0.22, 1),
        border 1s cubic-bezier(0.19, 1, 0.22, 1),
        color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    user-select: none;
}

.button a {
    color: #969696;
    font-family: "Varela Round";
    text-decoration: none;
}

.button .mask {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    height: 100px;
    position: absolute;
    transform: translate3d(-120%, -50px, 0) rotate3d(0, 0, 1, 45deg);
    transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
    width: 200px;
}

.button .shift {
    display: inline-block;
    transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.05);
    border-color: #fff;
    box-shadow: 0 0 5px rgba(255, 245, 245, 0.8);
    transition: background 0s;
}

.button:hover a {
    color: #fff;
}

.button:hover .mask {
    background-color: #fff;
    transform: translate3d(120%, -100px, 0) rotate3d(0, 0, 1, 90deg);
}

.button:hover .shift {
    transform: translateX(5px);
}

.button:active {
    background-color: #fff;
}

.button:active a {
    color: #202020;
}

.navtest {
        font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 21px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
	width: 170rem;
    height: 2rem;
    border-top-width: 3px;
    border-top-color: rgb(31, 174, 233);
    border-image-repeat: initial;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px;
    background-color: rgba(29, 27, 26, 0.8);
    border-radius: 5px 3px 15px 15px;
}

.navtest .show {
  background-color: #7c7fe0;
  border: 0;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 0px 0px 20px 20px;
  outline: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  background-color: rgba(0,0,0, 0.72);
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
  left: 0;
}
.navigation.active {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.navigation.active .navigation__inner {
     /* background-color: rgba(0,0,0, 0.72); */
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: background-color 0s linear 599ms, -webkit-transform 300ms linear;
  transition: background-color 0s linear 599ms, -webkit-transform 300ms linear;
  transition: transform 300ms linear, background-color 0s linear 599ms;
  transition: transform 300ms linear, background-color 0s linear 599ms, -webkit-transform 300ms linear;
}
.navigation.active .navigation__inner:after {
  width: 300%;
  border-radius: 50%;
  -webkit-animation: elastic 150ms ease 300.5ms both;
          animation: elastic 150ms ease 300.5ms both;
}

.navigation__inner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 999999;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: background-color 0s linear 300ms, -webkit-transform 300ms linear;
  transition: background-color 0s linear 300ms, -webkit-transform 300ms linear;
  transition: transform 300ms linear, background-color 0s linear 300ms;
  transition: transform 300ms linear, background-color 0s linear 300ms, -webkit-transform 300ms linear;
}
.navigation__inner:after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  background-color: rgba(0,0,0, 0,65);
  border-radius: 50%;
  z-index: -1;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

@-webkit-keyframes elastic {
  0% {
    border-radius: 50%;
  }
  45% {
    border-radius: 0;
  }
  65% {
    border-top-right-radius: 40px 50%;
    border-bottom-right-radius: 40px 50%;
  }
  80% {
    border-radius: 0;
  }
  90% {
    border-top-right-radius: 20px 50%;
    border-bottom-right-radius: 20px 50%;
  }
  100% {
    border-radius: 0;
  }
}

@keyframes elastic {
  0% {
    border-radius: 50%;
  }
  45% {
    border-radius: 0;
  }
  65% {
    border-top-right-radius: 40px 50%;
    border-bottom-right-radius: 40px 50%;
  }
  80% {
    border-radius: 0;
  }
  90% {
    border-top-right-radius: 20px 50%;
    border-bottom-right-radius: 20px 50%;
  }
  100% {
    border-radius: 0;
  }
}

.carousel-inner {
  /* height: 1fr; */
}


.carousel-inner img{
  width: 100%;

}
@media (min-width: 1100px) {
  .carousel-inner img{
      width: 100%;
  }
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-80%);
  text-shadow: 1px 1px black;
}
@media (max-width: 450px) {
  .carousel-caption .display-2 {
      font-size: 3em;
  }
}
.post-wrap {
    max-width: 1120px;
    margin: 0 auto;
    /* display: flex; */
    width: 30%;
    justify-content: center;
    flex-wrap: wrap;
	font-family: 'Montserrat Alternates', sans-serif;
}
.post-item {
	padding: 15px;	
	cursor: pointer;
}
.post-item * {
	transition: .3s linear;
}
.item-content {
    background-image: url(../img/ban2.png);
    width: 19rem;
	background-size:cover;
    border-radius: 40px 10px 40px 10px;
    box-shadow: 0 15px 15px rgba(0,0,0,.9);

}
.post-item:hover .item-icon,
.post-item:hover .item-body h3,
.post-item:hover .item-body p {
	transform: translateY(-8px);
}
.item-body {
	color: #F5E2CD;
	font-size: 14px;
}
.item-body h3 {
	font-weight: 500;
    margin-bottom: 15px;
	transition-delay: .05s;
	 font-family: Roboto, sans-serif;
}
.item-body p {
	transition-delay: .1s;
	font-family: 'Montserrat Alternates', sans-serif;
}
.item-footer {
	padding-top: 15px;
}
.link {  
	text-decoration: none;	
    display: inline-block; 
	overflow: hidden;	
	position: relative;
	padding-right: 30px;
	font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    color: #F5E2CD;
}
.link:before {    
    content: "";
    position: absolute;
    top: 0;
	left: 0;
    width: 100%;
	bottom: 0;
    height: .125rem;
	margin: auto;
	background: #F09EA3;
    transform: scaleX(.2);
    transform-origin: left center;
    z-index: 0;
	transition: .6s cubic-bezier(.6, .01, 0, 1);
}
.link span {
	display: inline-block;
    position: relative;
    transform: translateX(-200%);    
    transition: .6s cubic-bezier(.6, .01, 0, 1);
}
.post-item:hover .link span {
    transform: translateX(0%);
}
.post-item:hover .link:before {
	transform-origin: right center;
}
@media (min-width: 768px) {
	.post-item {
		flex-basis: 50%;
		flex-shrink: 0;				
	}
}
@media (min-width: 960px) {
	.post-item {
		flex-basis: 33.333333333%;			
	}
}